<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main id="index-page">
  <h1>Hello, <%= user ? user.profile.name + "!" : "Whimsy!" %></h1>
  <h3>Welcome to Word Whimsy</h3>
  <div class="white-div" id="centered-div">
    <h1>Word Whimsy: Your Online Journal Companion</h1>
    <p>
      Online journaling with Word Whimsy isn't just about writing down your thoughts; it's about discovering a whole new world of self-expression and creativity. Journaling has been proven to be good for your well-being because it allows you to reflect on your thoughts and feelings. It's like having a personal friend you can always confide in, except it's a journal that never judges you. </br></br>At Word Whimsy, we make journaling fun and easy, even for high school students. You can jot down your thoughts, share your achievements, and express your feelings in a safe and private space. Plus, you can add your own style with different fonts, colors, and even emojis! It's your space to be you. </br></br>Online journaling with Word Whimsy is like a journey of self-discovery. You'll learn more about yourself, your dreams, and your goals. So, why wait? Start your journaling adventure with Word Whimsy today and uncover the magic of self-expression! 
    </p>
  </div>
  <% if (!user) { %>
    <h3>Log in to Begin!</h3>
  <% } %>
  <% if (user) { %>
    <a href="/posts/new" id="index-button">
      <button>Start New Entry</button>
    </a>
  <% } %>
</main>


<%- include('./partials/footer') %>
