#index-page {
  text-align: center;
  display: block;
}

#index-page > h1 {
  padding-top: 70px;
  font-size: 50px;
  line-height: 0.8;
}

#centered-div {
  margin: 50px auto;
  padding: 30px 70px;
  text-align: center;
  width: 60%;
}

#centered-div > h1 {
  color: var(--purple)
}

#index-button {
  padding-bottom: 70px;
}
