body {
  background-image: linear-gradient(to left, #144ECC , #6750CB);
}

#posts-show-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section {
  width: 48%;
  margin-bottom: 2%;
}

section:nth-child(3n - 2) {
  width: 100%;
}

section:nth-child(3n) {
  width: 48%;
}

.edit-back-buttons {
  display: flex;
  justify-content: space-evenly;
}

.thin-letters {
  font-weight: 300;
  font-size: 25px;
}

.comment-section {
  padding: 30px;
  height: fit-content;
}


#content-display-div {

  height: fit-content;
}

#content-display {
  font-family: 'Poppins', sans-serif;
  border: none;
  resize: none;
}

#content-display:hover {
  border: none;
}