.gradient-border-bottom {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #191994, #D0D6FF);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}



#posts-index{
  display: flex;
  height: 100%;
  padding: 15px;
  gap: 5px;
  
}

.left-column {
  display: flex;
  width: 50%;
  flex:1 1 50%;
  justify-content: flex-start; 
  align-items: flex-start;
  flex-direction: column;
  margin: 24px;
}

.right-column {
  display: flex;
  flex:1 1 50%;
  flex-direction: column;
  margin: 24px 24px 24px 0px;
}

.articles {
  /* width: 50%; */
  font-size: 35px;
}

#index-div > a {
  color: var(--main-blue);
  text-decoration: none;
  font-size: 24px;
}

#index-div > a:visited {
  color: var(--dark-blue);
}

#index-div > a:hover {
  box-shadow: 0 12px 16px 0 --light-blue, 0 17px 50px 0 --light-blue;
}

#posts-index-icons {
  display: flex;
  justify-content: space-around;
}