body {
  background-image: linear-gradient(to left, #144ECC , #6750CB);
}

a {
  color: var(--main-blue);
  text-decoration: none;
  font-size: 24px;
}

#profiles-index-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#profiles-index-div {
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  margin-top: 4%;
  gap: 5px;
}

#profiles-icon {
  
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  padding: 15px;
  gap: 5px;
}

#profiles-index-text {
  padding-top: 0;
}