body {
  background-image: linear-gradient(to left, #144ECC , #6750CB);
}

a {
  color: var(--main-blue);
  text-decoration: none;
  font-size: 24px;
}

#profiles-index-main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

#profiles-index-div {
  width: 32%;
  display: flex;
  padding: 15px;
  gap: 5px;
}

#profiles-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  padding: 15px;
  gap: 5px;
}

#profiles-index-text {
  padding-left: 4px;
}