html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

:root {
  --main-blue: #144ECC;
  --dark-blue: #191994;
  --medium-blue: #6A95F0;
  --light-blue: #D0D6FF;
}

body {
  background-color: var(--main-blue);
  color: white;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  
}

.right {
  margin-left: auto;
}

#nav-logo {
  height: 50px;
}

button {
  background-color: white;
  color: var(--dark-blue);
  border-radius: 4px;
}

.white-div {
  text-align: left;
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
}

#reverse-list {
  flex-direction: column-reverse;
}

main {
  display: flex;
}

/* posts/index */

#posts-index{
  display: flex;
  height: 100%;
  padding: 15px;
  gap: 5px;
  
}

.left-column {
  display: flex;
  width: 50%;
  flex:1 1 50%;
  justify-content: flex-start; 
  align-items: flex-start;
  flex-direction: column;

}

.right-column {
  display: flex;
  flex:1 1 50%;
  flex-direction: column;
}

.articles {
  /* width: 50%; */
  font-size: 35px;
}


/* posts/new */

.posts-new-left {
  display: block;
  white-space: pre-line;
}

label {
  display: inline-block; 
  width: 30%; 
  text-align: right; 
  margin-right: 10px; 
}

input[type="text"],
input[type="date"],
select,
input[type="checkbox"],
input[type="textbox"] {
  display: inline-block; 
  width: 60%; 
}
