html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

:root {
  --main-blue: #144ECC;
  --dark-blue: #191994;
  --medium-blue: #6A95F0;
  --light-blue: #D0D6FF;
  --purple: #6750CB;
}

body {
  /* background-color: var(--main-blue); */
  background-image: linear-gradient(to right, #144ECC , #6750CB);
  color: white;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: 'Poppins', sans-serif;
  margin: 0;
}


/* nav bar */

nav {
  background-color: white;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  min-height: 60px; 
  font-size: 24px;
  font-weight: 600;
}

nav > a {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

#my-whimsy {
  color: var(--medium-blue);
}

#new-entry {
  color: var(--main-blue);
}

#writers {
  color: var(--dark-blue);
}

#logout {
  color: black;
}

#nav-logo {
  position: fixed;
  height: 50px;
  left: 10px;
}

/* buttons */

button {
  background-color: white;
  color: var(--dark-blue);
  border-radius: 24px;
  padding: 16px 32px;
  margin: 4px 2px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  transition-duration: 0.4s;
  width: fit-content;
}

button:hover {
  /* background-color: var(--dark-blue); 
  color: white; */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.white-div {
  text-align: left;
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#reverse-list {
  flex-direction: column-reverse;
}

label {
  display: inline-block; 
  width: 30%; 
  text-align: right; 
  margin-right: 10px; 
  font-size: 24px;
  /* font-weight: 600; */
  font-weight: 600;
}

input[type="text"],
input[type="date"],
select,
input[type="checkbox"],
input[type="textbox"] {
  font-size: larger;
  display: inline-block; 
  width: 60%;
  border-radius: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.08), 0 17px 50px 0 rgba(0,0,0,0.08);
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

textarea {
  width: 90%;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 4px;
  resize: none;
}

main {
  display: flex;
}

/* index */

#index-page {
  text-align: center;
  display: block;
  
}

#index-page > h1 {
  padding-top: 70px;
  font-size: 50px;
  line-height: 0.8;
  
}

#centered-div {
  margin: 50px auto;
  padding: 30px 70px;
  text-align: center;
  width: 60%;
}


#index-button {
  padding-bottom: 70px;
}

/* posts/index */

#posts-index{
  display: flex;
  height: 100%;
  padding: 15px;
  gap: 5px;
  
}

.left-column {
  display: flex;
  width: 50%;
  flex:1 1 50%;
  justify-content: flex-start; 
  align-items: flex-start;
  flex-direction: column;
  margin: 24px;
}

.right-column {
  display: flex;
  flex:1 1 50%;
  flex-direction: column;
  margin: 24px 24px 24px 0px;
}

.articles {
  /* width: 50%; */
  font-size: 35px;
}

#index-div > a {
  color: var(--main-blue);
  text-decoration: none;
  font-size: 24px;
}

#index-div > a:visited {
  color: var(--dark-blue);
}

#index-div > a:hover {
  box-shadow: 0 12px 16px 0 --light-blue, 0 17px 50px 0 --light-blue;
}

/* posts/new */

.posts-new-left {
  display: block;
  white-space: pre-line;
}

/* posts/edit */

#entry-edit {
  margin-left: 24px;
}

#posts-edit > section {
  display: inline-block;
}

#posts-edit > button {
  
}

