html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

:root {
  --main-blue: #144ECC;
  --dark-blue: #191994;
  --medium-blue: #6A95F0;
  --light-blue: #D0D6FF;
}

body {
  background-color: var(--main-blue);
  color: white;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

#nav-logo {
  height: 50px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  background-color: white;
  color: var(--dark-blue);
  border-radius: 4px;
}

#posts-index{
  flex-direction: row;
}


.white-div {
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 30px;
  margin: 40px;
}

.right-column {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.articles {
  flex-direction: column-reverse;
}

/* .right-column {
  display: flex;
} */

.right {
  margin-left: auto;
}
